@import '../../scss/variables.scss';
@import '../../scss/mixin.scss';
@import '../../scss/global.scss';

.upload {
    padding-top: 24px;

    &__container {
        padding: 0 $padding-320;
    }
    &__title {
        @include font($bold, $h1-size-320, unset);
    }
    &__box {
        @include flex-col;
        padding-top: 24px;

        @include laptop {
            flex-direction: row;
        }
    }
    &__video-title {
        @include interactive-title-style;
    }
    &__figure {
        display: flex;
        // correct margin collapse
        width: 288px;
        border-radius: 4px;
        overflow:hidden;

        @include tablet {
            width: 344px;
        }
    }
    &__img {
        width: 100%;
    }
    &__form {
        @include flex-col;
        padding-top: 32px;
    }
    &__title-label {
        @include interactive-title-style;
    }
    &__name {
        @include form-style-320;
        @include form-style-focus;
        margin-bottom: 24px;
    }
    &__desc-label {
        @include interactive-title-style;
    }
    &__desc {
        @include form-style-320;
        @include form-style-focus;
        height: 143px;
        margin-bottom: 32px;

        @include laptop {
            height: 94px;
        }
    }
    &__border {
        // 
    }
    &__border-box {
        @include flex-col;
    }
    &__cancel {
        @include font($demi-bold, $p-size-320, unset);
        @include upper;
        color: $BF-blue;
        background: white;
        padding: 16px 0;
        border: none;
        border-radius: 4px;
        // &:hover {
        //     background: $instock-blue;
        // }
    }
    &__publish {
        @include button-style-320;
    }
}