@import '../../scss/variables.scss';
@import '../../scss/mixin.scss';
@import '../../scss/global.scss';

.comment {
    @include flex-col;
    @include width-container;
    
    &__card {
        display:flex;
        padding: 32px 0 32px;
        box-sizing: border-box;
        border-bottom: 1px solid $mercury;

        @include tablet {
            padding: 32px 40px 32px 0;
        }
    }
    &__avatar {
        background: $silver;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        overflow: hidden;
    }

    &__box {
        @include font($regular, $contact-size-320, unset);
        color: $black;
        @include flex-col;
        width: calc(100% - 64px);
        margin-left: 16px;
    }
    &__box-name-date {
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: start;
        }
    }
    &__box-name {
        @include font($demi-bold, $contact-size-320, unset);
        margin-right: 8px;
        @include proper;
    }

    &__box-date {
        color: #AFAFAF;
    }
}