@import '../../../scss/variables.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/global.scss';

.info {
    @include width-container;
    padding: 32px 0;
    @include tablet {
        padding: 48px 0 32px;
    }
    &__title {
        @include font($bold, $h1-size-320, unset);
        @include proper;
        margin-bottom: 16px;
    }
    &__box {
        @include flex-col;
        border-bottom: 1px solid $mercury;
        padding-bottom: 24px;
        
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__box--channel {
        display:flex;
    }

    &__channel {
        @include font($demi-bold, $h2-size-320, unset);
        color: $black;
        @include proper;
    }

    &__date {
        @include font($regular, $h2-size-320, unset);
        color: $silver;
        margin-left: 8px;

    }

    &__box--stats {
        display: flex;
        align-content: center;
    }

    &__views {
        
    }

    &__view-text {
        @include font($regular, $h3-size-320, unset);
        color: $black;
        margin-left: 8px;
    }

    &__like {
        margin-left: 32px;
    }

    &__like-text {
        @include font($regular, $h3-size-320, unset);
        color: $black;
        margin-left: 8px;
    }

    &__desc {
        @include font($regular, $p-size-320, unset);
        padding: 24px 0 40px 0;
        @include tablet {
            width: 530px;
        }
    }

    &__comment-count {
        @include font($demi-bold, $h3-size-320, unset);
    }
}