@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.vid__video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vid__video-src {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .vid__video-src {
    max-width: 1440px;
  }
}

.vid__ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 16px;
  width: 100%;
  padding: 0 16px;
}

.vid__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.vid__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 131px);
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-left: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .vid__bar::before {
    content: attr(data-label);
    font-family: "Avenir Next Regular", sans-serif;
    font-size: 14px;
    line-height: unset;
    color: white;
    position: absolute;
    right: 10px;
  }
}

.vid__zoom-vol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-left: 8px;
  padding: 0 12px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=mainVid.css.map */