// This is the reset, nav and the footer

@import 'font.scss';
@import 'variables.scss';
@import 'mixin.scss';

// reset
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
} 
li {
list-style: none;
}
a {
text-decoration: none;
}

// // header
// .header {
//   background: $head-foot-color;
//   height: 80px;  

//   &__wrapper {
//     @include flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;

//     @include tablet {
//       flex-direction: row;
//       align-items: stretch;
//       padding: 0 3%;
//       width: 51%;
//     }

//     @include laptop {
//       padding: 0 12%;
//       width: 40%;
//     }
//   }

//   &__logo-box {
//     flex: 1 50%;
//     @include flex;
//     align-items: flex-end;

//     @include tablet {
//       align-items: center;
//     }
//   }
//   &__logo {
//     display: inline-block;
//     vertical-align: middle;
//     line-height: normal;
    
//     @include logo-style;

//     @include tablet {
//       flex-basis: 20%;
//     }
//   }

//   &__nav {
//     flex: 1 50%;
//     width: 100%;
//     align-items: center;

//     @include tablet {
//       flex: 1 55%;
//       margin-right: 10%;
//     }
//     @include laptop {
//       flex: 1 50%;
//       margin-right: 30%;
//     }
//   }
//   &__list {
//     @include flex;
//     padding: 0;
//     margin: 0;
//     flex: 1 0 auto;
//     align-items: stretch;
//     height: 100%;
//   }

//   &__item {
//     flex-basis: 50%;
//     @include flex;
//     justify-content: center;
//     align-items: center;
//   }

//   &__link {
//     font-family: $regular;
//     color: #AFAFAF;
//   //   text-align: center;
//   //   width: 100%;
//   //   display: inline-block;
//   }

//   &__box-active {
//     border-bottom: 4px solid white; 
//     padding-top: 4px;
//   }
//   &__link-active {
//     color: white;
//   }
// }

// //footer
// .footer {
//   background: $head-foot-color;
//   @include padding-wrapper($padding-320);
  
//   @include tablet {
//     @include padding-wrapper($padding-768);
//   } 

//   @include laptop {
//     @include padding-wrapper($padding-1440);
//   } 

//   &__box {
    
//     @include tablet {
//       @include flex;
//       flex-direction: row;
//       justify-content: space-between;
//     }
//   }

//   &__title {
//     color: white;
//     @include font($bold, $h1-size-768, unset);
//     margin-bottom: 32px;  
    
//     @include laptop {
//       margin-bottom: 56px;
//     }
//   }

//   &__list {
//     @include flex;
//     padding: 0;
//     width: 50%;
//     justify-content: space-between;
//     margin-bottom: 40px;

//     @include tablet {
//       width: 25%;
//       margin-right: 100px;
//     }

//     @include laptop {
//       width: 15%;
//       margin-right: 450px;
//     }
//   }

//   &__social-link {
//     @include flex;
//     height: 100%;
//     align-items: center;

//     img {
//       width: 1.6rem;
//       height: 1.6rem;
//     }
//   }

//   &__logo {
//     display: none;    
//     // for 320 only

//     @include logo-style;

//     @include tablet {
//       display: unset;
//     }
//   }
//   &__contact-box {
//     @include tablet {
//       @include flex;
//       flex-direction: row;
//       justify-content: space-between;
//     }

//     @include laptop {
//       width: 70%;
//     }
//   }
//   &__contact {
//     color: white;
//     margin-bottom: 32px;
    
//     @include laptop {
//       margin-bottom: 40px;
//     }
//   }

//   &__contact-name {
//     @include footer-contact-title;
//   }
//   &__contact-company {
//     margin-bottom: 15px;
//     @include footer-contact-title;
//   }
//   &__address {
//     margin-bottom: 15px;
//     @include font($regular, $contact-size-320, 18px);
//     @include tablet {
//       font-size: $contact-size-768;
//       line-height: 20px;
//     }
//   }

//   &__email {
//     @include font($regular, $contact-size-320, 18px);
//     color: white;
//     @include tablet {
//       font-size: $contact-size-768;
//       line-height: 20px;
//     }
//   }

//   &__rights {
//     width:80%;
//     color: white;
    
//     p {
//       @include font($regular, $contact-size-320, 18px);
//     }
//   }
// }