@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.info {
  padding: 3% 5%;
}

.info__title {
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 24px;
  line-height: unset;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.info__channel {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 16px;
  line-height: unset;
  color: #323232;
  text-transform: capitalize;
}

.info__date {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 16px;
  line-height: unset;
  color: #afafaf;
  margin-left: 8px;
}

.info__stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 24px;
}

.info__view-text {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #323232;
  margin-left: 8px;
}

.info__like {
  margin-left: 32px;
}

.info__like-text {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #323232;
  margin-left: 8px;
}

.info__desc {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 13px;
  line-height: unset;
}

.info__comment-count {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
}
/*# sourceMappingURL=mainVidInfo.css.map */