@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.recommend {
  padding: 40px 0 0 0;
  margin-left: 16px;
}

.recommend__title {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #afafaf;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-bottom: 40px;
}

.recommend__width-container {
  max-width: 410px;
}

.recommend__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 24px;
}

.recommend__vid {
  width: 120px;
  height: 70px;
  border-radius: 4px;
}

.recommend__box {
  width: 60%;
  margin-left: 16px;
  padding: 0.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommend__box-title {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #323232;
  text-transform: capitalize;
}

.recommend__box-author {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #323232;
  text-transform: capitalize;
}
/*# sourceMappingURL=recommendation.css.map */