@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.formComment {
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

.formComment__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.formComment__face {
  border: 1px solid black;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .formComment__face {
    margin-top: 23px;
  }
}

.formComment__avatar {
  width: auto;
  height: 100%;
}

.formComment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
  width: calc(100% - 48px - 20px);
}

@media screen and (min-width: 768px) {
  .formComment__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.formComment__form-box {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .formComment__form-box {
    width: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.formComment__comment-label {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #afafaf;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.formComment__comment {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 13px;
  line-height: unset;
  color: #323232;
  background: #fafafa;
  width: 100%;
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 96px;
  margin-bottom: 8px;
}

.formComment__comment:focus {
  border: 1px solid #0095ff;
  outline: none;
}

@media screen and (min-width: 768px) {
  .formComment__comment {
    margin-bottom: 0;
    height: 50px;
  }
}

.formComment__submit {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 13px;
  line-height: unset;
  text-transform: uppercase;
  color: white;
  background: #0095ff;
  padding: 16px 0;
  border: 1px solid #0095ff;
  border-radius: 4px;
  width: 100%;
}

.formComment__submit:hover {
  background: #004892;
}

@media screen and (min-width: 768px) {
  .formComment__submit {
    width: 160px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 40px;
  }
}
/*# sourceMappingURL=formComment.css.map */