@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir Next Light";
  src: url("../assets/font/AvenirNextProLT/AvenirNextLTPro-Light.otf") format("OpenType");
  font-weight: 100;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .upload {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.upload__section {
  padding-top: 24px;
  padding: 24px 5% 0;
}

@media screen and (min-width: 768px) {
  .upload__section {
    padding-top: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .upload__section {
    width: 1080px;
    padding: 24px 0 0;
  }
}

.upload__title {
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 24px;
  line-height: unset;
  padding-bottom: 32px;
}

.upload__form {
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .upload__form {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .upload__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.upload__video-title {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #afafaf;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.upload__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .upload__figure {
    width: 344px;
  }
}

.upload__img {
  width: 100%;
}

.upload__title-label {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #afafaf;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.upload__name {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 13px;
  line-height: unset;
  color: #323232;
  background: #fafafa;
  width: 100%;
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
}

.upload__name:focus {
  border: 1px solid #0095ff;
  outline: none;
}

.upload__desc-label {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 14px;
  line-height: unset;
  color: #afafaf;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.upload__desc {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 13px;
  line-height: unset;
  color: #323232;
  background: #fafafa;
  width: 100%;
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 143px;
  margin-bottom: 32px;
}

.upload__desc:focus {
  border: 1px solid #0095ff;
  outline: none;
}

@media screen and (min-width: 1440px) {
  .upload__desc {
    height: 94px;
  }
}

@media screen and (min-width: 768px) {
  .upload__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 40px;
    border-top: 1px solid #e1e1e1;
  }
}

.upload__buttons-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .upload__buttons-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.upload__cancel {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 13px;
  line-height: unset;
  text-transform: uppercase;
  color: #0095ff;
  background: white;
  padding: 16px 0;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .upload__cancel {
    width: 160px;
  }
}

.upload__publish {
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 13px;
  line-height: unset;
  text-transform: uppercase;
  color: white;
  background: #0095ff;
  padding: 16px 0;
  border: 1px solid #0095ff;
  border-radius: 4px;
}

.upload__publish:hover {
  background: #004892;
}

@media screen and (min-width: 768px) {
  .upload__publish {
    width: 160px;
  }
}
/*# sourceMappingURL=upload.css.map */